{{ form_start(form) }}
{{ form_row(form._token) }}
<div>{{ form_errors(form)}}</div>
<div>
    <dl>
        <dt>{{ form_label(form.title) }}</dt>
        <dt>{{ form_widget(form.title) }}</dt>
        <dt>{{ form_errors(form.title) }}</dt>
    </dl>
    <dl>
        <dt>{{ form_label(form.text) }}</dt>
        <dt>{{ form_widget(form.text) }}</dt>
        <dt>{{ form_errors(form.text) }}</dt>
    </dl>
</div>
{{ form_end(form) }}