{% extends 'base.html.twig' %}

{% block title %}コメント投稿{% endblock %}
{% block bread %}→ <a href="{{ path('app_micro_post_show_one', {id: post.id}) }}">Post</a>→  コメント投稿{% endblock %}
{% block body %}
    {{ include('micro_post/_post.html.twig', {post: post}) }}
    {{ form_start(form) }}
    <div>{{ form_errors(form)}}</div>
    <div>
        <dl>
            <dt>{{ form_label(form.text) }}</dt>
            <dt>{{ form_widget(form.text) }}</dt>
            <dt>{{ form_errors(form.text) }}</dt>
        </dl>
    </div>
    {{ form_end(form) }}
{% endblock %}