{% extends 'base.html.twig' %}
{% set LABEL_CLASS = constant('App\\Setting\\Form\\FormSetting::LABEL_CLASS') %}
{% set INPUT_CLASS = constant('App\\Setting\\Form\\FormSetting::INPUT_CLASS') %}
{% set SUBMIT_BUTTON_CLASS = constant('App\\Setting\\Form\\FormSetting::SUBMIT_BUTTON_CLASS') %}
{% block title %}ログイン{% endblock %}
{% block bread %}→ ログイン{% endblock %}
{% block body %}
    <form action="{{ path("app_login") }}" method="post">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div>
            <dl>
                <dt><label class="{{ LABEL_CLASS }}">email</label></dt>
                <dt><input type="text" name="_username"  value="{{ lastUserName }}" class="{{ INPUT_CLASS }}" /></dt>
            </dl>
            <dl>
                <dt><label class="{{ LABEL_CLASS }}">password</label></dt>
                <dt><input type="password" name="_password" class="{{ INPUT_CLASS }}" /></dt>
            </dl>
        </div>
        <input type="hidden" name="_target_path"
               value="/micro-post" />
        <div>
        <button type="submit" class="{{ SUBMIT_BUTTON_CLASS }}">ログイン</button>
        </div>
    </form>

{% endblock %}
