
<div>
    {{ form_row(form.name) }}
    {{ form_row(form.bio) }}
    {{ form_row(form.websiteUrl) }}
    {{ form_row(form.twitterUsername) }}
    {{ form_row(form.company) }}
    {{ form_row(form.location) }}
    {{ form_row(form.dateOfBirth) }}
</div>
