{% extends 'base.html.twig' %}
{% set SUBMIT_BUTTON_CLASS = constant('App\\Setting\\Form\\FormSetting::SUBMIT_BUTTON_CLASS') %}

{% block title %}プロフィール画像{% endblock %}
{% block bread %}→プロフィール画像{% endblock %}
{% block body %}
    {{ include('settings_profile/_settings_profile_tabs.html.twig') }}
    <div class="flex items-center">
        {{ include('shared/_avatar.html.twig', {'size': 32, profile: app.user.userProfile}) }}
        <div class="ml-16">
        {{ form_start(form) }}
        {{ form_row(form.profileImage) }}
        </div>
    </div>
    <div>
        <button type="submit" class="{{ SUBMIT_BUTTON_CLASS }}">保存</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const id = "{{ form.profileImage.vars.id }}";
            document.getElementById(id).addEventListener('change', function (e) {
                // 1枚だけ表示する
                const file = e.target.files[0];

                // ファイルのブラウザ上でのURLを取得する
                const blobUrl = window.URL.createObjectURL(file);

                // img要素に表示
                const img = document.getElementById('preview_image');
                img.src = blobUrl;
            });
        })
    </script>
{% endblock %}
